$color-background: #EDF2EC;
$color-brand-add: #499A18;
$color-text: #717171;
$color-brand: #E06733;
$color-text-about: #636060;
$color-service-border: #E3E1D5;
$color-contact-choose: #D6E7D2;
$color-contact-choose-active: #C1E698;
$color-contact-menu:#DCE9D9;

$content-width: 1440px;
$content-width-tablet: 800px;
$content-width-mobile: 571px;
$content-width-small: 332px