.burger-menu {
    display: none;
    position: relative;
    width: 40px;
    height: 24px;
    :nth-child(4){
        top: 100%;
    }
    :nth-child(2){
        top: 35%;
    }
    :nth-child(3){
        top: 68%;
    }
}
.burger-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 0px;
    border: 1px solid #717171;
    transition: 0.4s all;
}
.burger-menu.active {
    :nth-child(2){
        display: none;
    }
    :nth-child(3){
        display: none;
    }
    :first-child {
        transform: rotate(45deg);
        top: 50%;
    }
    :last-child{
        transform: rotate(-45deg);
        top: 50%;
    }
}
@media (max-width: $content-width-mobile) {
    .burger-menu {
        display: block;
    }
}